<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/bmi">Home</a></li>
                <li><a href="/normal">Normal Weight Matrix</a></li>
                <li><a href="/aerobic">Aerobic</a></li>
                <li><a href="/keto">ketogenic Diet</a></li>
            </ul>
            <!--   <ul class="nav navbar-nav navbar-right">
                   <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
               </ul> -->
        </div>
    </div>
</nav>

<div class="container">
    <h2>Keto Diet based on targeted calories</h2>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Keto Diet 1300 kcal</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    1300 سعر حراري
                    20غ كبروهيدرات
                    72غ بروتين
                    106غ دهون

                    2 كأس ماء قبل وجبة الفطور
                    وجبة الفطور:
                    2 بيض مقلي في معلقة كبيرة زيت زيتون + قطعة جبنة فيتا او نابلسية او حلوم 30غ + 8 حبات زيتون اسود او 10 حبات زيتون اخضر + خضار ورقية (خس او اسبانخ او جرجير)
                    او 2 قطعة تيركي + قطعة جبنة فيتا او نابلسية او حلوم 30غ + زيتون اسود + خضار ورقية
                    2 كأس ماء بعد ساعة

                    وجبة خفيفة 1:
                    12 حبة مكسرات لوز او فول سوداني  او 8 معالق بزر دوار الشمس غير مقشر

                    2 كأس ماء قبل وجبة الغداء
                    وجبة الغداء:
                    صدر دجاج 210غ او 7 قطع لحمة راس عصفور (210غ) او 210غ سمك او 210غ كباب (مطبوخ في 2 معلقة كبيرة زيت زيتون او زبدة حيوانية) + خضار +فطر مطبوخة في زيت الزيتون ( 1 معلقة كبيرة) ، سلطة الدجاج والخضار (بندورة ،خيار ، خس ،زيتون ) +صدر دجاج 210غ

                    وجبة خفيفة 2:
                    4-5 حبات فراولة او 3/4 الكوب توت احمر او اسود او ازرق

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Keto Diet 1400 kcal</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    1400 سعر حراري
                    20غ كبروهيدرات
                    79غ بروتين
                    111غ دهون


                    2 كأس ماء قبل وجبة الفطور
                    وجبة الفطور:
                    2 قطعة تيركي + قطعة جبنة فيتا او نابلسية او حلوم 60غ + زيتون اسود + خضار ورقية
                    او بيض مقلي في معلقة كبيرة زيت زيتون + قطعة جبنة فيتا او نابلسية او حلوم 60غ + 8 حبات زيتون اسود او 10 حبات زيتون اخضر + خضار ورقية (خس او اسبانخ او جرجير)

                    2 كأس ماء بعد ساعة

                    وجبة خفيفة 1:
                    12 حبة مكسرات لوز او فول سوداني  او 8 معالق بزر دوار الشمس غير مقشر

                    2 كأس ماء قبل وجبة الغداء
                    وجبة الغداء:
                    صدر دجاج 210غ او 7 قطع لحمة راس عصفور (210غ) او 210غ سمك او 210غ كباب (مطبوخ في 2 معلقة كبيرة زيت زيتون او زبدة حيوانية) + خضار +فطر مطبوخة في زيت الزيتون ( 1 معلقة كبيرة)
                    او شيش طاووق 210غ + سطلة (3 معلقة مايونيز خالي من السكر)
                    او كباب دجاج 210غ + سلطة (3 معلقة مايونيز خالي من السكر)
                    وجبة خفيفة 2:
                    4-5 حبات فراولة او 3/4 الكوب توت احمر او اسود او ازرق
                    *مسموح تناول الشاي والقهوة والنسكافيه بدون سكر (او استخدام المحلي الصناعي مونك فروت)
                    *مسموح اضافة الكريمة او القشطة للمشروبات

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Keto Diet 1800 kcal</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    1800 سعر حراري
                    37غ كبروهيدرات
                    103غ بروتين
                    137غ دهون


                    2 كأس ماء قبل وجبة الفطور
                    وجبة الفطور:

                    2 بيض مقلي  مع فطر مقلي في معلقة كبيرة زيت زيتون+ نصف حبة افوكادو + قطعة جبنة فيتا او نابلسية او حلوم 90غ + + خضار ورقية (خس او اسبانخ او جرجير)

                    2 كأس ماء بعد ساعة

                    وجبة خفيفة 1:
                    6 حبة مكسرات لوز او فول سوداني  او 4 معالق بزر دوار الشمس غير مقشر

                    2 كأس ماء قبل وجبة الغداء
                    وجبة الغداء:
                    صدر دجاج او فخذ كامل 240غ مشوي في 2 معلقة كبيرة زبدة او زيت زيتون + كوب كريمة طبخ + كوبين سلطة ورقية مع معلقة كبيرة زيت زيتون
                    او 3 قطعة برغر دجاج او لحمة + صلصة الفطر + 2 كوب سلطة ورقية مع 2 معلقة كبيرة زيت زيتون

                    وجبة خفيفة 2:
                    4-5 حبات فراولة او 3/4 الكوب توت احمر او اسود او ازرق+ قطعة شوكلاتة غامقة 20غ  (>80 (dark
                    *مسموح تناول الشاي والقهوة والنسكافيه بدون سكر (او استخدام المحلي الصناعي مونك فروت)
                    *مسموح اضافة الكريمة او القشطة للمشروبات

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Keto Diet 1200 kcal</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    1200 سعر حراري
                    20غ كبروهيدرات
                    72غ بروتين
                    96غ دهون


                    2 كأس ماء قبل وجبة الفطور
                    وجبة الفطور:
                    2 بيض مسلوق + قطعة جبنة فيتا او نابلسية او حلوم 30غ + 6 حبات زيتون اسود او8 حبات زيتون اخضر + خضار ورقية (خس او اسبانخ او جرجير)
                    قطعة تيركي + قطعة جبنة فيتا او نابلسية او حلوم 30غ + زيتون اسود + خضار ورقية
                    كوب قهوه بدون سكر
                    2 كأس ماء بعد ساعة

                    وجبة خفيفة 1:
                    6 حبة مكسرات لوز او فول سوداني او 8 انصاف من جوز عين الجمل

                    2 كأس ماء قبل وجبة الغداء
                    وجبة الغداء:
                    صدر دجاج 210غ  مع الكريمة  والخضار(بروكلي و بقدونس ) او 5 قطع لحمة راس عصفور (210غ) مع سلطة (خس , بصل احمر, كوب جبنة فيتا ,ملعقة خل بلسميك , فروالة ).... او 210غ سمك او 210غ كباب (مطبوخ في 2 معلقة كبيرة زيت زيتون او زبدة حيوانية) + خضار مطبوخة في زيت الزيتون ( 1 معلقة كبيرة) (بروكلي + فطر +كوسا )

                    وجبة خفيفة 2:
                    4-5 حبات فراولة او 3/4 الكوب توت احمر او اسود او ازرق


                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Keto Diet 1500 kcal</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    1500 سعر حراري
                    25غ كبروهيدرات
                    88غ بروتين
                    114غ دهون


                    2 كأس ماء قبل وجبة الفطور
                    وجبة الفطور:
                    2 قطعة تيركي + قطعة جبنة فيتا او نابلسية او حلوم 60غ + زيتون اسود + خضار ورقية
                    او بيض مقلي في معلقة كبيرة زيت زيتون + قطعة جبنة فيتا او نابلسية او حلوم 60غ + 8 حبات زيتون اسود او 10 حبات زيتون اخضر + خضار ورقية (خس او اسبانخ او جرجير)

                    2 كأس ماء بعد ساعة

                    وجبة خفيفة 1:
                    10 حبة مكسرات لوز او فول سوداني  او 6 معالق بزر دوار الشمس غير مقشر

                    2 كأس ماء قبل وجبة الغداء
                    وجبة الغداء:
                    صدر دجاج 240غ او 7 قطع لحمة راس عصفور (240غ) او 240غ سمك او 240غ كباب (مطبوخ في 2 معلقة كبيرة زيت زيتون او زبدة حيوانية) + خضار +فطر مطبوخة في زيت الزيتون ( 1 معلقة كبيرة) ،اوسلطة الدجاج والخضار (بندورة ،خيار ، خس ،زيتون وملعقة كبيرة زيت زيتون وفطر ) +صدر دجاج 240غ

                    وجبة خفيفة 2:
                    4-5 حبات فراولة او 3/4 الكوب توت احمر او اسود او ازرق
                    *مسموح تناول الشاي والقهوة والنسكافيه بدون سكر (او استخدام المحلي الصناعي مونك فروت)
                    *مسموح اضافة الكريمة او القشطة للمشروبات


                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Keto Diet 1600 kcal</a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    1600 سعر حراري
                    37غ كبروهيدرات
                    96غ بروتين
                    122غ دهون


                    2 كأس ماء قبل وجبة الفطور
                    وجبة الفطور:
                    2 قطعة تيركي + قطعة جبنة فيتا او نابلسية او حلوم 60غ + زيتون اسود + خضار ورقية
                    او بيض مقلي في معلقة كبيرة زيت زيتون + قطعة جبنة فيتا او نابلسية او حلوم 60غ + 8 حبات زيتون اسود او 10 حبات زيتون اخضر + خضار ورقية (خس او اسبانخ او جرجير)

                    2 كأس ماء بعد ساعة

                    وجبة خفيفة 1:
                    12 حبة مكسرات لوز او فول سوداني  او 8 معالق بزر دوار الشمس غير مقشر

                    2 كأس ماء قبل وجبة الغداء
                    وجبة الغداء:
                    صدر دجاج 240غ مطبوخ في 2 معلقة كبيرة زبدة حيوانية او زيت زيتون + خضار وفطر مطبوخة في زيت الزيتون ( 1 معلقة كبيرة) + كوب كريمة الطبخ
                    او 7 قطع لحمة راس عصفور (240غ) مطبوخ مع بندورة  + قطعة جبنة 60غ + 2 كوب سلطة ورقية وخيار
                    او قطعة سمك 240غ مع صلصة طحينة وخضار مبطوخة (مسموح استخدام 3 معلقة كبيرة طحينة + 3 معلقة كبيرة زيت زيتون او زبدة)
                    وجبة خفيفة 2:
                    4-5 حبات فراولة او 3/4 الكوب توت احمر او اسود او ازرق+ قطعة شوكلاتة غامقة 20غ  (>75 (dark

                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Keto Diet 1000 kcal</a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                    1000 سعر حراري
                    25غ كبروهيدرات
                    67غ بروتين
                    73غ دهون


                    2 كأس ماء قبل وجبة الفطور
                    وجبة الفطور:
                    2 بيض مسلوق + قطعة جبنة فيتا او نابلسية او حلوم 30غ + 8 حبات زيتون اسود او 10 حبات زيتون اخضر + خضار ورقية (خس او اسبانخ او جرجير) ،بيض مقلي بالزبدة الطبيعية ، شاي او قهوة بدون سكر، 1 معلقة لبنة كبيرة مع معلقة كبيرة زيت زيتون + 1 قطعة تيركي + خس وبندورة

                    2 كأس ماء بعد ساعة

                    وجبة خفيفة 1:
                    6 حبة مكسرات لوز او فول سوداني  6 انصاف من جوز عين الجمل او 4 م ك بزر عين شمس

                    2 كأس ماء قبل وجبة الغداء
                    وجبة الغداء:
                    -صدر دجاج 180غ او 7 قطع لحمة راس عصفور (180غ) او 180غ سمك او 180غ كباب (مطبوخ في 1 معلقة كبيرة زيت زيتون او زبدة حيوانية) + خضار مطبوخة في زيت الزيتون ( 2 معلقة صغيرة) ،سلطة خضار (خيار ،بندورة، زيتون)


                    وجبة خفيفة 2:
                    4-5 حبات فراولة او 3/4 الكوب توت احمر او اسود او ازرق


                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Keto Diet 2200 kcal</a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                    2200 سعر حراري
                    37غ كبروهيدرات
                    110غ بروتين
                    177غ دهون


                    2 كأس ماء قبل وجبة الفطور
                    وجبة الفطور:
                    2 قطعة تيركي + قطعة جبنة 60غ + 1 معلقة كبيرة لبنة + خضار ورقية
                    او 2 بيضة اومليت مع سبانخ وفطر+قطعة جبنة 60غ او 2 قطعة تيركي + 10 حبات زيتون + خضار ورقية

                    2 كأس ماء بعد ساعة

                    وجبة خفيفة 1:
                    6 حبة مكسرات لوز او فول سوداني  او 4 معالق بزر دوار الشمس غير مقشر

                    2 كأس ماء قبل وجبة الغداء
                    وجبة الغداء:
                    240غ لحمة ناعمة + ارز الزهرة محشي في ورق العنب + 10 حبات زيتون اخضر او 8 حبات زيتون اسود+ 2 كوب سلطة
                    او ورق عنب محشي في ارز الزهرة + قطعة لحمة ستيك 240غ + 2 كوب سلطة خضار
                    او سمك فيليه 240غ مقلي ب2 معلقة كبيرة زبدة او زيت الزيتون + كوب كريمة طبخ او 3 معلقة كبيرة طحينة + خضار ورقية
                    او 240غ ستيك لحمة + كوب كريمة طبخ + فطر وخضار سوتيه (كوسا وبروكلي وفلفل رومي ) + كوب سلطة خضار ورقية
                    او صدر دجاج 240غ (فاهيتا الدجاج ) مع خضار + 2 كوب سلطة + 2 معلقة كبيرة مايونيز
                    وجبة خفيفة 2:
                    4-5 حبات فراولة او 3/4 الكوب توت احمر او اسود او ازرق+ قطعة شوكلاتة غامقة 20غ  (>80 (dark
                    *مسموح تناول الشاي والقهوة والنسكافيه بدون سكر (او استخدام المحلي الصناعي مونك فروت)
                    *مسموح اضافة الكريمة او القشطة للمشروبات

                    وجبة خفيفة 3:
                    قطعة جبنة 60غ او 2 معلقة كبيرة لبنة مع خس



                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Keto Diet 2100 kcal</a>
                </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                    2100 سعر حراري
                    37غ كبروهيدرات
                    103غ بروتين
                    167غ دهون


                    2 كأس ماء قبل وجبة الفطور
                    وجبة الفطور:
                    سلطة (بندورة وخيار + 2 معلقة كبيرة زيت زيتون + 2 معلقة كبيرة طحينة) + حبة افوكادو + 60 جبنة فيتا او حلوم او نابلسية
                    او 2 بيضة اومليت مع سبانخ وفطر+قطعة جبنة 60غ او 2 قطعة تيركي + 10 حبات زيتون + خضار ورقية

                    2 كأس ماء بعد ساعة

                    وجبة خفيفة 1:
                    6 حبة مكسرات لوز او فول سوداني  او 4 معالق بزر دوار الشمس غير مقشر

                    2 كأس ماء قبل وجبة الغداء
                    وجبة الغداء:
                    240غ لحمة ناعمة + ارز الزهرة محشي في ورق العنب + 10 حبات زيتون اخضر او 8 حبات زيتون اسود+ 2 كوب سلطة
                    او ورق عنب محشي في ارز الزهرة + قطعة لحمة ستيك 240غ + 2 كوب سلطة خضار
                    240غ ستيك لحمة + كوب كريمة طبخ + فطر وخضار سوتيه (كوسا وبروكلي وفلفل رومي ) + كوب سلطة خضار ورقية
                    او صدر دجاج 240غ (فاهيتا الدجاج ) مع خضار + 2 كوب سلطة + 2 معلقة كبيرة مايونيز
                    وجبة خفيفة 2:
                    4-5 حبات فراولة او 3/4 الكوب توت احمر او اسود او ازرق+ قطعة شوكلاتة غامقة 20غ  (>80 (dark
                    *مسموح تناول الشاي والقهوة والنسكافيه بدون سكر (او استخدام المحلي الصناعي مونك فروت)
                    *مسموح اضافة الكريمة او القشطة للمشروبات


                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">Keto Diet 1700 kcal</a>
                </h4>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                    1700 سعر حراري
                    37غ كبروهيدرات
                    96غ بروتين
                    129غ دهون


                    2 كأس ماء قبل وجبة الفطور
                    وجبة الفطور:

                    اومليت 2 بيض مع فطر مقلي في معلقة كبيرة زيت زيتون + قطعة جبنة فيتا او نابلسية او حلوم 90غ + + خضار ورقية (خس او اسبانخ او جرجير)

                    2 كأس ماء بعد ساعة

                    وجبة خفيفة 1:
                    12 حبة مكسرات لوز او فول سوداني  او 8 معالق بزر دوار الشمس غير مقشر

                    2 كأس ماء قبل وجبة الغداء
                    وجبة الغداء:
                    صدر دجاج او فخذ كامل 210غ مشوي بالقليل من زيت الزيتون (2 معلقة كبيرة او زبدة ) + خضار وفطر مطبوخة في زيت الزيتون ( 1 معلقة كبيرة) + 3 معلقة مايونيز خالي من السكر
                    او صدر دجاج 210غ مع كوبين ملوخية
                    او كفتة 210غ مع سلطة عربية

                    وجبة خفيفة 2:
                    4-5 حبات فراولة او 3/4 الكوب توت احمر او اسود او ازرق+ قطعة شوكلاتة غامقة 20غ  (>80 (dark
                    *مسموح تناول الشاي والقهوة والنسكافيه بدون سكر (او استخدام المحلي الصناعي مونك فروت)
                    *مسموح اضافة الكريمة او القشطة للمشروبات


                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">Keto Diet 1900 kcal</a>
                </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                    1900 سعر حراري
                    37غ كبروهيدرات
                    103غ بروتين
                    147غ دهون


                    2 كأس ماء قبل وجبة الفطور
                    وجبة الفطور:

                    150غ تونا محفوظة في الزيت + خضار ورقية وخيار وبندورة + نصف حبة افوكادو
                    او 2 بيض مقلي  مع فطر مقلي في معلقة كبيرة زيت زيتون+ نصف حبة افوكادو + 3 معلقة كبيرة لبنة + + خضار ورقية (خس او اسبانخ او جرجير) + 10 حبات زيتون اخضر

                    2 كأس ماء بعد ساعة

                    وجبة خفيفة 1:
                    6 حبة مكسرات لوز او فول سوداني  او 4 معالق بزر دوار الشمس غير مقشر

                    2 كأس ماء قبل وجبة الغداء
                    وجبة الغداء:
                    150غ من اصابع كباب  + 100غ من لحمة الشقف مشوية + 2 كوب سلطة خضار ورقية مع زيت زيتون
                    صدر دجاج او فخذ كامل 240غ مشوي في 2 معلقة كبيرة زبدة او زيت زيتون + كوب كريمة طبخ + كوبين سلطة ورقية مع معلقة كبيرة زيت زيتون
                    او 3 قطعة برغر دجاج او لحمة 240غ + صلصة الفطر + 2 كوب سلطة ورقية مع 2 معلقة كبيرة زيت زيتون

                    وجبة خفيفة 2:
                    4-5 حبات فراولة او 3/4 الكوب توت احمر او اسود او ازرق+ قطعة شوكلاتة غامقة 20غ  (>80 (dark
                    *مسموح تناول الشاي والقهوة والنسكافيه بدون سكر (او استخدام المحلي الصناعي مونك فروت)
                    *مسموح اضافة الكريمة او القشطة للمشروبات



                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">Keto Diet 2000 kcal</a>
                </h4>
            </div>
            <div id="collapse12" class="panel-collapse collapse">
                <div class="panel-body">2000 سعر حراري
                    37غ كبروهيدرات
                    103غ بروتين
                    157غ دهون


                    2 كأس ماء قبل وجبة الفطور
                    وجبة الفطور:
                    2 قطعة جبنة غير مطبوخة 60غ + 2 بيض مقلي بزيت الزيتون او زبدة + معلقة لبنة كبيرة مع زيت الزيتون + خضار مقطعة
                    او 150 غ تونا محفوظة في الزيت + خضار ورقية وخيار وبندورة + نصف حبة افوكادو
                    او سلطة (بندورة وخيار + 2 معلقة كبيرة زيت زيتون + 2 معلقة كبيرة طحينة) + حبة افوكادو + 60 جبنة فيتا او حلوم او نابلسية

                    2 كأس ماء بعد ساعة

                    وجبة خفيفة 1:
                    6 حبة مكسرات لوز او فول سوداني  او 4 معالق بزر دوار الشمس غير مقشر

                    2 كأس ماء قبل وجبة الغداء
                    وجبة الغداء:
                    240غ لحمة ناعمة + بندورة (مطبوخ في 3 معلقة كبيرة زيت زيتون ) + 10 حبات زيتون اخضر او 8 حبات زيتون اسود+ 2 كوب سلطة
                    240غ ستيك لحمة + كوب كريمة طبخ + فطر وخضار سوتيه (كوسا وبروكلي وفلفل رومي ) + كوب سلطة خضار ورقية
                    او 3 قطعة برغر دجاج او لحمة 240غ + صلصة الفطر + 2 كوب سلطة ورقية مع 2 معلقة كبيرة زيت زيتون

                    وجبة خفيفة 2:
                    4-5 حبات فراولة او 3/4 الكوب توت احمر او اسود او ازرق+ قطعة شوكلاتة غامقة 20غ  (>80 (dark
                    *مسموح تناول الشاي والقهوة والنسكافيه بدون سكر (او استخدام المحلي الصناعي مونك فروت)
                    *مسموح اضافة الكريمة او القشطة للمشروبات
                </div>
            </div>
        </div>

    </div>
</div>

<footer class="container-fluid text-center">
    <address>
        <strong>Jordan, Karak.</strong><br>
        Mu'tah University<br>
        Sports Faculity<br>
        <abbr title="Phone">Phone:</abbr> (00962) 03-2372380
    </address>

    <address>
        <strong>Rand Alsarairah</strong><br>
        <a href="mailto:#">rand.alsarairah@gmail.com</a>
    </address>
</footer>

</body>
</html>
