<div class="container">
  <h2>Keto Diet based on targeted calories</h2>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Keto Diet 1300 kcal</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
          1300 سعر حراري
          20غ كبروهيدرات
          72غ بروتين
          106غ دهون

          2 كأس ماء قبل وجبة الفطور
          وجبة الفطور:
          2 بيض مقلي في معلقة كبيرة زيت زيتون + قطعة جبنة فيتا او نابلسية او حلوم 30غ + 8 حبات زيتون اسود او 10 حبات زيتون اخضر + خضار ورقية (خس او اسبانخ او جرجير)
          او 2 قطعة تيركي + قطعة جبنة فيتا او نابلسية او حلوم 30غ + زيتون اسود + خضار ورقية
          2 كأس ماء بعد ساعة

          وجبة خفيفة 1:
          12 حبة مكسرات لوز او فول سوداني  او 8 معالق بزر دوار الشمس غير مقشر

          2 كأس ماء قبل وجبة الغداء
          وجبة الغداء:
          صدر دجاج 210غ او 7 قطع لحمة راس عصفور (210غ) او 210غ سمك او 210غ كباب (مطبوخ في 2 معلقة كبيرة زيت زيتون او زبدة حيوانية) + خضار +فطر مطبوخة في زيت الزيتون ( 1 معلقة كبيرة) ، سلطة الدجاج والخضار (بندورة ،خيار ، خس ،زيتون ) +صدر دجاج 210غ

          وجبة خفيفة 2:
          4-5 حبات فراولة او 3/4 الكوب توت احمر او اسود او ازرق

        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
  </div>
</div>